.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
}

.team-members {
    display: flex;
    justify-content: space-evenly;
}

.team-member {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
    width: 25%;

}

.team-member img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    object-fit: cover;
    margin-bottom: 20px;
    
}

.bio {
    text-align: center;
    width: 80%;
}

@media (max-width: 768px) {
    .team-members {
        flex-direction: column;
        width: 100%;
        margin-top: 90px;
    }

    .team-member {
        width: 100%;
    }
}

@media (max-width: 390px) {
    .about-me {
        width: 100%;
        padding: 10px;
        margin-top: 120px;
    }

    .team-members {
        width: 100%;
        padding: 0 20px;
        align-items: center;
    }

    .team-member img {
        width: 150px;
        height: 150px;
        border-radius: 75px;
    }

    .bio {
        width: 100%;
        padding: 0 20px;
    }
}